footer {
    background-color: #333;
    color: white;
    padding: 6vh;
    text-align: center;
  }
  

  
  .newsletter input {
    padding: 10px;
    width: 60%;
    max-width: 300px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .newsletter button {
    background-color: #ff6f00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }