html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'Changeling Neo';
    src: url('../fonts/ChangelingNeo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSerifPro';
    src: url('../fonts/SourceSerifPro-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'PT_Sans-Web-Bold';
    src: url('../fonts/PT_Sans-Web-Bold.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.header{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../img/stars.png');
    background-size: 80% auto, auto 80%;
}


.header h1{
    font-size: 15vh;
    font-family: 'Changeling Neo', Arial, sans-serif;
    margin-bottom: 5vh;
}

.header p{
    font-family: 'SourceSerifPro';
    font-size: 18px;
    line-height: 1.6;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
}


.header button {
    background-color: #F9851B;
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    height: 70px;
    border-radius: 50px;
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.header button a{
    text-decoration: none;
    color: white;


}

