.oneQuest{
    display: flex;
    flex-direction: column;
}

.oneQuest-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oneQuest-form input{
    width: 65%;
    height: 350px;
    border: 2px solid #949494;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin-bottom: 20px;
}