.App {
  display: flex;
  flex-direction: column;
}

.App img{
  width: 100%;
}

.orangeBackground{
  background: linear-gradient(to bottom, #C6511E 9%, #DE6835 44%, #F9851B 81%);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
